<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title - Application</title>
    }
    else
    {
        <title>Application</title>
    }

    <link rel="stylesheet" href="~/css/main.css" />

</head>

<body>

    <nav class="navbar">

        <div class="main-navbar">
            <a asp-controller="Main" asp-action="Index">
                Home
            </a>
            @switch (User.Identity.IsAuthenticated)
            {
                case false:
                    <a asp-controller="Account" asp-action="Login">
                        Login
                    </a>
                    break;
                case true:
                    <a asp-controller="Main" asp-action="ActiveUsers">
                        Active Users
                    </a>
                    <div>
                        Logged in as @User.Identity.Name
                    </div>
                    <form asp-controller="Account" asp-action="LogOut" method="post">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Log Out" class="submit-link" />
                    </form>
                    break;
            }
        </div>

    </nav>

    <main role="main" class="page-content">
        @RenderBody()
    </main>

    <script defer src="~/js/navbar.js"></script>
</body>

</html>