@model UsersViewModel
@{
    ViewBag.Title = "Users";
}

<div class="page-title">@ViewBag.Title</div>

<style>
    .users-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
    }

    .user-container {
        height: 0.5rem;
        color: white;
        width: 90%;
        border: solid 1px black;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user-container a {
        padding: 1rem;
        border-radius: 1rem;
        background-color: black;
        color: white;
        font-weight: bold;
    }

    .active-user {
        background-color: lightblue;
    }

    .inactive-user {
        background-color: lightgray;
    }
</style>

<div class="users-container">
    @foreach (var user in Model.Users)
    {
        <div class="user-container active-user">
            <div>@user.UserName</div>

            <a asp-controller="Messaging" asp-action="Chat" asp-route-recipientUserId="@user.Id">Message</a>
        </div>

        <hr style="width: 95%;" />
    }
</div>


@* @section Scripts {
<script>

let activeUsers = [];

const webSocketUrl = `ws://${window.location.host}/Messaging/WebsocketConnection`;

let socket = new WebSocket(webSocketUrl);

// Establish the WebSocket connection
socket.addEventListener('open', () => {
console.log('Connected to the server.');
});

</script>
} *@