<div class="page-title">
    Welcome to my messaging app!
</div>

<div class="text-center">

    <p>
        This is a simple messaging app that allows you to send messages to other users.
    </p>


    @if (!User.Identity.IsAuthenticated)
    {
        <h1>
            Please log in to continue.
        </h1>
    }
</div>