<div class="page-title">
    Welcome to Ramon's Instant Messaging App!
</div>

<p class="text-center">
    This site is a simple messaging app that allows you to send messages to other users in real time.
</p>

<partial name="/Views/Shared/Partials/_Footer.cshtml" />

@if (User.Identity.IsAuthenticated)
{
    <script defer src="~/js/websocket/user-active-status.js"></script>
}