<footer class="page-footer">

    <hr />

    <div class="page-footer-content-container ">
        <a asp-controller="Main" asp-action="Privacy">
            Privacy Policy
        </a>

        <div>
            &copy; @DateTime.UtcNow.Year Instant Messaging App
        </div>

    </div>

</footer>